<div class="user-details">
  <h1> Featured Projects </h1>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="customerchurn" src="{{ "/assets/img/customerchurn.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Customer Churn Analysis </h3>
    <p>This project focuses on analyzing the key factors behind customer churn, using Python for data analysis and visualization. It identifies the impact of payment methods, contract types, and tenure on customer retention, providing actionable insights for reducing churn rates. </p>
    <p align="center"><a class="project-link" href="https://github.com/Exagged/Customer-Churn-Analysis">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="coffeemap" src="{{ "/assets/img/coffeemap.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3>Coffee Shop Sales Dashboard</h3>
    <p>An interactive Excel dashboard that visualizes coffee shop sales data across various stores. It highlights total sales, top-selling products, and customer purchasing trends. The dashboard helps managers optimize staffing, inventory, and promotional strategies based on peak sales times and product demand. </p>
    <p align="center"><a class="project-link" href="https://onedrive.live.com/edit?id=51BBF49A32809FA3!s5a3cd9e9e19f486fa8353f48404394df&resid=51BBF49A32809FA3!s5a3cd9e9e19f486fa8353f48404394df&cid=51bbf49a32809fa3&ithint=file%2Cxlsx&redeem=aHR0cHM6Ly8xZHJ2Lm1zL3gvYy81MWJiZjQ5YTMyODA5ZmEzL0VlblpQRnFmNFc5SXFEVV9TRUJEbE44QnVaV1lEZXRxcGwwRHFWaGtlSWVoNmc&migratedtospo=true&wdo=2">Check it out</a></p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="adidas" src="{{ "/assets/img/adidas.png" | prepend: site.baseurl }}"/>
  </div>
  <div class="contents-right">
    <h3>Adidas Sales Report</h3>
    <p>A comprehensive Power BI dashboard analyzing Adidas' sales performance across the United States. It includes insights into total sales, profit margins, and regional performance, helping stakeholders identify top-performing products and regions for targeted marketing efforts. </p>
    <p align="center"><a class="project-link" href="https://github.com/Exagged/AdidasSalesReport">Check it out</a></p>
  </div>
</div>
